* {
    box-sizing: border-box;
  }
  
  #slots_a, #slots_b, #slots_c {
    position: relative;
    float: left;
    background-color: white;
    border: 2px palegoldenrod outset;
    overflow: hidden;
  }
  
  #slots_a .wrapper, #slots_b .wrapper, #slots_c .wrapper {
    position: absolute;
  }
  
  #slots_a .wrapper .slot, #slots_b .wrapper .slot, #slots_c .wrapper .slot {
    text-align: center;
    padding-top: 2px;
  }
  
  .slotglass-top {
    position: absolute;
    z-index: 999;
    background: -moz-linear-gradient(top, rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, 0.3)), to(rgba(20, 20, 20, 0)));
    background: -o-linear-gradient(top, rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0));
    background: linear-gradient(top, rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0));
  }
  
  .slotglass-bottom {
    position: absolute;
    z-index: 999;
    bottom: 0px;
    background: -moz-linear-gradient(top, rgba(20, 20, 20, 0), rgba(20, 20, 20, 0.3));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, 0)), to(rgba(20, 20, 20, 0.3)));
    background: -o-linear-gradient(top, rgba(20, 20, 20, 0), rgba(20, 20, 20, 0.3));
    background: linear-gradient(top, rgba(20, 20, 20, 0), rgba(20, 20, 20, 0.3));
  }
  
  .slotline {
    position: absolute;
    z-index: 999;
    height: 2px;
    opacity: 0.8;
    background-color: red;
  }
  
  #slotbox {
    background-color: #2758a1;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
  }
  
  #startBtn {
    border-radius: 10px;
    background-color: rgb(0, 201, 201);
    width: 100%;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px #333;
    outline: 0;
    margin-top: 10px;
    padding: 20px;
    appearance: none;
    -webkit-appearance: none;
  }